.block-hero {
    padding: 7% 9% 7% 10%;
}

.block-hero__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-hero__wrap-text {
    width: 400px;
    color:#222222;
    font-weight: 400 Regular;
    padding: 45px 60px;
}

.block__wrap-title {
    font-size: 52px;
    line-height: 60px;
    margin: 0;
}
.block-hero__image {
    width: 379px;
    height: 400px;
}
.block__wrap-desc {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
}