.block-technology {
    display: flex;
    justify-content: space-between;
    padding: 8% 13% 0 13%;
    color:#222222;
}

.block-technology__text {
    padding-top: 8%;  
    width: 409px;
}

.block-technology__text-title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 100;
    margin: 0;
}

.block-technology__wrap-image {
    width: 376px;
    height: 500px;
}

@media (max-width: 960px) {
    .block-technology {
        padding: 8% 5% 0 5%;
    }

    .block-technology__text {
        width: 320px;
    }
}

@media (max-width: 750px) {
    .block-technology {
        justify-content: center;
        flex-wrap: wrap;
    }

    .block-technology__text {
        width: 409px;
    }

    .block-technology__text-desc {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .block-technology__text-image {
        right: 5px;
    }
}