.block-testimonials {
    background-color: #F2F2F2;
    padding: 7% 8%;
}

.block-testimonial__card {
    width: 365px;
    height: 224px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 10px 5px 0 5px;
}

.block-testimonial__card-text {
    font-size: 16px;
    line-height: 24px;
    padding: 30px 30px 22px 30px;
    margin: 0;
    height: 96px;
}

.block-testimonial__card-author, .block-testimonial__card-workplace{
    margin: 0;
    padding-left: 30px;
}
