.block-features {
    background-color: #222222;
    padding: 7.5% 7%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
}

.block-features__title {
    color:#FFFFFF;
    font-size: 32px;
    line-height: 36px;
    padding: 0 20%;
    width: 100%;
    margin-bottom: 39px;
}

.block-features__subject {
    width: 100%;
    align-items: center;
    text-align: center;
    font-weight: 100;
    margin: 0;
}

.block-features__cards {
    max-width: 1185px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block-features__card {
    width: 365px;
    background-color: #FFFFFF;
    height: 480px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 0 6px 16px 6px;
}

.block-features__card-image {
    width: 227px;
    margin-top: 40px;
    position: absolute;
}

.block-features__card-text {
    background-color: #F2F2F2;
    height: 197px;
    width: 100%;
    top: 290px;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-features-card-icon {
    position: absolute;
    bottom: 160px;
}

.block-features__card-subtitle {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 30px;
}

.calendar {
    color:#0278ED;
}

.lists {
    color:#FF5437;
}

.varied {
    color:#FF9209;
}

.split-screen {
    color:#E738CE;
}

.uploads {
    color:#00C6DF;
}

.focus-mode {
    color:#B25DF8;
}

.block-features__card-desc {
    margin-top: 0;
    padding: 0 30px;
}

@media (max-width: 1000px){
    .block-features  {
        padding: 7.5% 1%;
    }
    .block-features__cards {
        justify-content: center;
    }

    .block-features__card {
        min-width: 300px;
        margin: 16px 7px 0 7px;
    }
}

@media (max-width: 450px) {
    .block-features__title {
        padding: 0;
    }
    .block-features__card {
        width: 330px;
    }
 
    .block-features__subject {
        font-size: 35px;
    }
}