.block-countdown {
    height: 436px;
    background-image: url('../../assets/images/rectangle.png');
}

.block-countdown__back-image {
    width: 1440px;
    padding-bottom: 50px;
    position: absolute;
}

.block-countdown__caption {
    font-weight: 700;
    padding-top: 55px;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
}

.block-countdown__caption__text {
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    margin: 0;
}

.block-countdown__caption__time {
    width: 100;
    padding: 0 22%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.block-countdown__caption__timer {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.block-countdown__caption__timer__count p {
    font-weight: 700;
    font-size: 24px;
    margin: 0px 12px;
    line-height: 36px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.block-countdown__caption__desc {
    font-size: 30px;
    line-height: 45px;
    color:#FFFFFF;
    margin: 0;
}

.block-countdown__caption__time {
    font-size: 100px;
    line-height: 150px;
    font-weight: 400;
}
.block-countdown__caption__times {
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 320px;
}

.block-countdown__caption__times p {
    margin: 0;
}
.block-countdown__caption__time-text {
    font-size: 24px;
    display: flex;
    width: 47%;
    margin-left: 340px;
    justify-content: space-between;
    padding-top: 0;
    margin-top: 0;
}

.block-countdown__caption__time-text p {
    margin: 0;
    padding-top: 0;
}

@media (max-width: 800px) {
    .block-countdown__caption__text {
        font-size: 35px;
    }

    .block-countdown__caption__desc {
        font-size: 25px;
    }
    .block-countdown__caption__time {
        padding: 0 5%;
        font-size: 70px;
    }

    .block-countdown__caption__timer {
        font-size: 70px;
    }

    .block-countdown__caption__timer__count p {
        font-size: 15px;
        font-weight: 100;
    }
}

@media (max-width: 550px) {
    .block-countdown__caption__time {
        /* width: 320px; */
        font-size: 35px;
        padding: 0 2%;
        margin: 0;
        /* margin: 0;
        align-items: center;
        line-height: 5px;
        text-align: center; */
    }

    .block-countdown__caption__timer {
        font-size: 40px;
    }
    
    .block-countdown__caption__timer__count p {
        margin-top: -50px;
        font-size: 13px;
    }
}