html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    font-family: Poppins;
}

.button {
    height: 40px;
    border: none;
    background: #222222;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
}

.button:hover {
    background-color:#4E4E4E;
}

.button:focus {
    outline: 2px solid #5AB0FF;
}

.title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 32px;
    line-height: 36px;
    margin: 0;
}

.description {
    margin: 14px 25% 0 25%;
    line-height: 24px;
    font-size: 18px;
    color: #666666;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 1170px;
}

h2 {
    font-weight: 100;
}

.block-text__desc {
    font-size: 16px;
    line-height: 24px;
    color:#666666;
    margin-bottom: 188px;
}

.image {
    width: 376px;
}

@media (max-width: 850px) {
    .block-text__desc  {
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {
    .image {
        width: 320px;
    }
}