.block-darkmode {
    background-color:#222222;
    position: relative;
    color:#FFFFFF;
    padding: 8% 28% 14% 28%;
    font-weight: 400;
}

.block-darkmode__wrap {
    width: 100%;
    text-align: center;
}

.block-darkmode__title {
    font-size: 32px;
    line-height: 36px;
    margin: 0;
}

.block-darkmode__desc {
    font-size: 18px;
    line-height: 24px;
    margin: 12px 0 36px 0;
}

.block-darkmode__wrap-image {
    width: 400px;
    margin: 0;
}

.block-darkmode__wrap-btns {
    width: 100%;
    margin: 0;
    padding: 41px;
    display: flex;
}

.block-darkmode__wrap-btn {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 18%;
    border: none;
    background: none;
}

.block-darkmode__wrap-btn:hover {
    cursor: pointer;
}

.sun-icon {
    content: url('/src/images/Sun-Icon.svg');
}

.moon-icon {
    content: url('/src/images/Moon-Icon.svg');
}

#darkmode-text, #darkmode-btn-text{
    color:#FF9209;
}

.block-darkmode__btn-text {
    margin: 0;
}

.block-darkmode__line {
    width: 100%;
    height: 2px;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

#light {
    background-color: #FFFFFF;
    color: #222222;
}

#light .sun-icon{
    content: url('/src/images/Sun-Icon-yellow.svg');
}

#light .moon-icon {
    content: url('/src/images/Moon-Icon-dark.svg');
}

#light .light-btn-text {
    color: #FF9209;
}

#light .night-btn-text {
    color: #222222;
}