.block-security {
    background-color:#F2F2F2;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8% 15% 0 15%;
}

.block-security__image {
    width: 376px;
    position: absolute;
}

.block-security__text {
    margin: 7% 0 0 60%;
}