.block-darkmode {
    background-color:#222222;
    position: relative;
    color:#FFFFFF;
    padding: 8% 28% 14% 28%;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

.block-darkmode__title {
    font-size: 32px;
    line-height: 36px;
    margin: 0;
}

.block-darkmode__desc {
    font-size: 18px;
    line-height: 24px;
    margin: 12px 0 36px 0;
}

.block-darkmode__wrap-image {
    width: 400px;
}

.block-darkmode__line {
    width: 45%;
    border: 1px solid #E5E5E5;
    bottom: 322px;
    position: absolute;
}

.block-darkmode__wrap-btns {
    width: 100%;
    margin: 0;
    padding: 41px;
    display: flex;
}

.block-darkmode__wrap-btn {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 18%;
    border: none;
    background: none;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.block-darkmode__wrap-btn:hover {
    cursor: pointer;
}

#darkmode-text{
    color:#FF9209;
}

#light {
    background-color: #FFFFFF;
    color: #222222;
}

#light #night-mode {
    color: #222222;
}

#light #light-mode svg path{ 
    fill:#FF9209
} 

#night-mode {
    color: #FF9209;
}

#light #night-mode svg path{
    fill: #222222
}

#light #light-mode {
    color: #FF9209;
}

#light-mode svg path{ 
    fill:#fff
} 

#night-mode svg path{
    fill: #FF9209
}