.block-statistics {
    background-color: #FF5437;
    padding: 6% 13% 6% 13%;
    color:#FFFFFF;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-statistics__number {
    font-size: 96px;
    line-height: 96px;
    margin: 0;
}

.block-statistics__desc {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (max-width: 996px){
    .block-statistics__card {
        margin-bottom: 20px;
    }
}