.block-hero {
    top: 0;
    padding: 6% 14% 7% 10%;
    display: flex;
    justify-content: space-between;
}

.block-hero__info{
    max-width: 400px;
    min-width: 200px;
    color:#222222;
    font-weight: 400 Regular;
    padding: 6% 4%;
}

.block__wrap-title {
    font-size: 52px;
    line-height: 60px;
    margin: 0;
}

.block-hero__info-desc {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
}

.block-hero__info-btn {
    width: 148px;
}

.block-hero__image {
    width: 379px;
    height: 400px;
}

@media (max-width: 970px) {
    .block-hero {
        padding: 5% 5% 0 5%;
    }
    .block-hero__image {
        margin-right: 5%;
    }

    .block-hero__info{
        width: 350px;
    }

    .block-hero__info img {
        width: 130px;
    }

    .block__wrap-title {
        font-size: 35px;
        width: 300px;
    }

    .block-hero__image, .block-hero__image img {
        width: 330px;
    }
}

@media (max-width: 670px) {
    .block-hero {
        justify-content: center;
        flex-wrap: wrap;
    }
}

