.block-security {
    background-color:#F2F2F2;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8% 14% 0 15%;  
}

.block-security__image {
    width: 376px;
    margin-bottom: -15px;
}

.block-security__text {
    margin: 6% 0 0 0 ;
    font-weight: 100;
    width: 400px;
}

@media (max-width: 960px) {
    .block-security {
        padding: 4% 5% 0 5%;  
    }
}

@media (max-width: 850px) {
    .block-security {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}