footer {
    background-color: #F2F2F2;
    align-items: center;
    text-align: center;
    padding: 130px 0;
}

.footer-social {
    margin-top: 20px;
}

.footer-social__icon {
    margin-right: 20px;
}