.header {
  position: sticky;
  top: 0;
  height: 55px;
  background-color: #ffffff;
  padding: 1.3% 7% 1.3% 8%;
  font-weight: 400 Regular;
  z-index: 5;
  box-shadow: 0px 5px 14px 5px rgba(0, 0, 0, 0.15);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.header__menu {
  float: right;
  margin-top: 0;
  list-style: none;
}

.header__menu li {
  margin: 0 21px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #666666;
}

.header__menu-form__btn {
  width: 172px;
}

.header__hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .header__hamburger-menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .header__hamburger-menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .header__hamburger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.header__hamburger-menu__btn {
  position: fixed;
  top: 35px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header__hamburger-menu__btn > span,
.header__hamburger-menu__btn > span::before,
.header__hamburger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.header__hamburger-menu__btn > span::before {
  content: '';
  top: -8px;
}
.header__hamburger-menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color:#FFFFFF;
  text-align: center;
  align-items: center;
  transition-duration: .25s;
}

.header__hamburger-menu img {
  margin-top: 86px;
}

.header__hamburger-menu ul {
  margin: 45px 0 ;
}

.header__hamburger-menu ul li {
  list-style: none;
  margin-bottom: 19px;
}

@media (max-width: 970px) {
  .header__hamburger-menu {
    display: block;
  }

  .header__menu {
    display: none;
  }
}