.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  left: 0;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden scroll;
  font-weight: 400;
}

.modal__wrapper {
  background-color: #ffffff;
  max-width: 506px;
  min-width: 375px;
  padding: 2% 0;
  margin: 250px 0 100px 0;
  text-align: center;
  color: #000000;
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}

.modal__wrapper-header {
  display: flex;
  justify-content: space-around;
}

.modal-visiblity {
  opacity: 1;
  pointer-events: all;
}

.modal__wrapper__close {
  border: none;
  background: none;
  height: 20px;
}

.modal__wrapper__close:hover {
  cursor: pointer;
}

.modal__wrapper h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 312px;
  margin: 15px 0 10px 60px;
  box-sizing: border-box;
  text-align: center;
}

.modal__wrapper form {
  margin-top: 15px;
}

.modal-content__form-input {
  width: 506px;
}

.modal-content__form-input input {
  background-color: #f2f2f2;
  border: none;
  padding: 7px 17px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 17px;
  width: 300px;
  height: 30px;
}

.modal-content__form-input input:focus {
  outline: 2px solid #5AB0FF;
}

.modal__wrapper form p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
  text-align: center;
}

.plan {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.plan label {
  width: 300px;
  height: 42px;
  background: #fafafa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 15px;
}

.plan label input {
  opacity: 0;
}

.standard-plan {
  border: 1px solid #0278ed;
  color: #0278ed;
}

.premium-plan {
  border: 1px solid #ff5437;
  color: #ff5437;
}

.error-input {
  background: #FFEEEE !important;
}
.checkbox-error, #email-error, #name-error {
  color: #FF5437;
  font-size: 12px;
  line-height: 18px;
}

#email-error, #name-error {
  align-items: flex-start;
  text-align: start;
  padding: 0 18%;
  margin-top: 4px;
}

.lifetime-plan {
  border: 1px solid #ff9209;
  color: #ff9209;
}

.plan-standards-active {
  background: #0278ed !important;
  color: white !important;
}

.plan-premiums-active {
  background: #ff5437 !important;
  color: white !important;
}

.plan-lifetimes-active {
  background: #ff9209 !important;
  color: white !important;
}

.check-mark {
  margin-right: 23%;
}

.modal-window__checkbox-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0 30px 0;
}

.checkbox {
  margin-bottom: 0.2em;
}

.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #0278ed;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox > input:checked + span::before {
  border-color: #0b76ef;
  background-image: url("../../images/checkmark.svg");
  background-size: 14px;
}

.modal-window__loading-text {
  display: flex;
  color: #7e7e7e;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  gap: 15px;
  margin-top: 18px;
}

.custom-checkbox {
  width: 100%;
  align-items: flex-start;
  text-align: start;
  padding: 0 38%;
}

.send-btn {
  width: 172px;
}

.modal-content__form__loading {
  margin-top: 28px;
  display: none;
}

.modal-content__form__loading span{
  color:#7E7E7E;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

#loading {
  display: block;
}

.modal-content__form__loading__img {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 550px) {
  .modal__wrapper {
    width: 350px;
  }
  .modal-content__form-input {
    width: 380px;
  }
  #email-error, #name-error {
    padding: 0 8%;
  }
}